<row class="border-bottom">
	<columns small="6" large="4" class="actie border-right border-bottom-mobile">
		<row>
			<columns small="12">
				<a href="${url_blok1!}" target="_blank" title="${producttitel_blok1!}">
					<h3 class="fallbackfont">${producttitel_blok1!} </h3>
				</a>
			</columns>
		</row>
		<row>
			<columns small="12">
				<p class="fallbackfont">${productomschrijving_blok1!}</p>
			</columns>
		</row>
		<row>
			<columns small="12">
				<a href="${url_blok1!}" target="_blank" title="${producttitel_blok1!}">
					<img src="${productafbeelding_blok1.url!}" alt="${producttitel_blok1!}" title="${producttitel_blok1!}" height="169" width="169">
				</a>
			</columns>
		</row>
		<row>
			<columns small="12">
				<spacer size="15"></spacer>
				<row>
					<columns small="6">
						<p class="fallbackfont eenheid">${eenheid_blok1!}</p>
						<!-- <#if vanprijs_blok1?has_content> -->
						<!-- <#if vanprijs_blok1 != "van" || vanprijs_blok1 != "vanaf" || vanprijs_blok1 != "nu">  -->
						<span class="linethrough">
						<!-- </#if> -->
							<p class="fallbackfont vanprijs">${vanprijs_blok1!}</p>
						<!-- <#if vanprijs_blok1 != "van" || vanprijs_blok1 != "vanaf" || vanprijs_blok1 != "nu">  -->
						</span>
						<!-- </#if> -->
						<!-- </#if> -->
					</columns>
					<columns small="6">
						<p class="fallbackfont voorprijs text-right">10,00</p>
					</columns>
				</row>
			</columns>
		</row>
		<!-- <#if assortimentbuttons == "ja"> -->
		<row>
			<columns>
				<spacer size="15"></spacer>
				<button class="fallbackfont radius expanded" href="${alle_acties_url_blok1!}">${alle_acties_blok1!}</button>
			</columns>
		</row>
		<!-- </#if> -->
	</columns>
	<columns small="6" large="4" class="actie border-right border-right-hide-mobile border-bottom-mobile">
		<row>
			<columns small="12">
				<a href="${url_blok2!}" target="_blank" title="${producttitel_blok2!}">
					<h3 class="fallbackfont">${producttitel_blok2!} </h3>
				</a>
			</columns>
		</row>
		<row>
			<columns small="12">
				<p class="fallbackfont">${productomschrijving_blok2!}</p>
			</columns>
		</row>
		<row>
			<columns small="12">
				<a href="${url_blok2!}" target="_blank" title="${producttitel_blok2!}">
					<img src="${productafbeelding_blok2.url!}" alt="${producttitel_blok2!}" title="${producttitel_blok1!}" height="169" width="169">
				</a>
			</columns>
		</row>
		<row>
			<columns small="12">
				<spacer size="15"></spacer>
				<row>
					<columns small="6">
						<p class="fallbackfont eenheid">${eenheid_blok2!}</p>
						<!-- <#if vanprijs_blok2?has_content> -->
						<!-- <#if vanprijs_blok2 != "van" || vanprijs_blok2 != "vanaf" || vanprijs_blok2 != "nu">  -->
						<span class="linethrough">
						<!-- </#if> -->
							<p class="fallbackfont vanprijs">${vanprijs_blok2!}</p>
						<!-- <#if vanprijs_blok2 != "van" || vanprijs_blok2 != "vanaf" || vanprijs_blok2 != "nu">  -->
						</span>
						<!-- </#if> -->
						<!-- </#if> -->
					</columns>
					<columns small="6">
						<p class="fallbackfont voorprijs text-right">10,00</p>
					</columns>
				</row>
			</columns>
		</row>
		<!-- <#if assortimentbuttons == "ja"> -->
		<row>
			<columns>
				<spacer size="15"></spacer>
				<button class="fallbackfont radius expanded" href="${alle_acties_url_blok2!}">${alle_acties_blok2!}</button>
			</columns>
		</row>
		<!-- </#if> -->
	</columns>
	<columns small="12" large="4" class="actie border-right border-right-hide">
		<row>
			<columns small="12">
				<a href="${url_blok3!}" target="_blank" title="${producttitel_blok3!}">
					<h3 class="fallbackfont">${producttitel_blok3!} </h3>
				</a>
			</columns>
		</row>
		<row>
			<columns small="12">
				<p class="fallbackfont">${productomschrijving_blok3!}</p>
			</columns>
		</row>
		<row>
			<columns small="12">
				<a href="${url_blok3!}" target="_blank" title="${producttitel_blok3!}">
					<img src="${productafbeelding_blok3.url!}" alt="${producttitel_blok3!}" title="${producttitel_blok3!}" height="169" width="169">
				</a>
			</columns>
		</row>
		<row>
			<columns small="12">
				<spacer size="15"></spacer>
				<row>
					<columns small="6">
						<p class="fallbackfont eenheid">${eenheid_blok3!}</p>
						<!-- <#if vanprijs_blok3?has_content> -->
						<!-- <#if vanprijs_blok3 != "van" || vanprijs_blok3 != "vanaf" || vanprijs_blok3 != "nu">  -->
						<span class="linethrough">
						<!-- </#if> -->
							<p class="fallbackfont vanprijs">${vanprijs_blok3!}</p>
						<!-- <#if vanprijs_blok3 != "van" || vanprijs_blok3 != "vanaf" || vanprijs_blok3 != "nu">  -->
						</span>
						<!-- </#if> -->
						<!-- </#if> -->
					</columns>
					<columns small="6">
						<p class="fallbackfont voorprijs text-right">10,00</p>
					</columns>
				</row>
			</columns>
		</row>
		<!-- <#if assortimentbuttons == "ja"> -->
		<row>
			<columns>
				<spacer size="15"></spacer>
				<button class="fallbackfont radius expanded" href="${alle_acties_url_blok3!}">${alle_acties_blok3!}</button>
			</columns>
		</row>
		<!-- </#if> -->
	</columns>
</row>