<row class="header-menu">
	<columns small="12">
		<spacer size="15"></spacer>
		<menu>
			<!-- <#noparse> -->
			<item class="menu-item" href="${current_landcode.url}/nl/Assortiment/c/001" target="_blank">
					<img class="float-center" src="http://td42.tripolis.com/public/image_Q8vS7JHxcnhx8fWRygi1vA.png" width ="24" height="24" alt="Assortiment" title="Assortiment">
					<p class="show-for-large text-center fallbackfont">Assortiment</p>
			</item>
			<!-- </#noparse> -->
			<!-- <#noparse> -->
			<item class="menu-item" href="${current_landcode.url}/nl/acties" target="_blank">
					<img class="float-center" src="http://td42.tripolis.com/public/image_zYKo61wIq8Klm_ahkjeYDw.png" width ="24" height="24" alt="Acties" title="Acties">
					<p class="show-for-large text-center fallbackfont">Acties</p>
			</item>
			<!-- </#noparse> -->
			<!-- <#noparse> -->
			<item class="menu-item" href="https://www.foodxperience.com/" target="_blank">
					<img class="float-center" src="http://td42.tripolis.com/public/image_fLtchzkBEtp4aSlPFo98Hw.png" width ="24" height="24" alt="FoodXperience" title="FoodXperience">
					<p class="show-for-large text-center fallbackfont">FoodXperience</p>
			</item>
			<!-- </#noparse> -->
			<!-- <#noparse> -->
			<item class="menu-item" href="${current_landcode.url}/nl/activiteiten" target="_blank">
					<img class="float-center" src="http://td42.tripolis.com/public/image_oRLd1K_4uAjo43Bqc6p4QA.png" width ="24" height="24" alt="Activiteiten" title="Activiteiten">
					<p class="show-for-large text-center fallbackfont">Activiteiten</p>
			</item>
			<!-- </#noparse> -->
			<!-- <#noparse> -->
			<item class="menu-item" href="${current_landcode.url}/nl/groothandels" target="_blank">
					<img class="float-center" src="http://td42.tripolis.com/public/image_aCnh52QE6_iGznqrqtospQ.png=" width ="24" height="24" alt="Groothandels" title="Groothandels">
					<p class="show-for-large text-center fallbackfont">Groothandels</p>
			</item>
			<!-- </#noparse> -->
		</menu>
	</columns>
</row>
