<row class="header-menu">
	<columns small="12">
		<spacer size="15"></spacer>
		<center>
			<menu>
				<!-- <#noparse> -->
				<item href="${current_landcode.url}/nl/Assortiment/c/001" target="_blank">
					<img class="float-center" src="http://td42.tripolis.com/public/image_Q8vS7JHxcnhx8fWRygi1vA.png" width ="24" height="24" alt="Assortiment" title="Assortiment">
				</item>
				<!-- </#noparse> -->
				<!-- <#noparse> -->
				<item href="${current_landcode.url}/nl/acties" target="_blank">
					<img class="float-center" src="http://td42.tripolis.com/public/image_zYKo61wIq8Klm_ahkjeYDw.png" width ="24" height="24" alt="Acties" title="Acties">
				</item>
				<!-- </#noparse> -->
				<!-- <#noparse> -->
				<item href="https://www.foodxperience.com/" target="_blank">
					<img class="float-center" src="http://td42.tripolis.com/public/image_fLtchzkBEtp4aSlPFo98Hw.png" width ="24" height="24" alt="FoodXperience" title="FoodXperience">
				</item>
				<!-- </#noparse> -->
				<!-- <#noparse> -->
				<item href="${current_landcode.url}/nl/activiteiten" target="_blank">
					<img class="float-center" src="http://td42.tripolis.com/public/image_oRLd1K_4uAjo43Bqc6p4QA.png" width ="24" height="24" alt="Activiteiten" title="Activiteiten">
				</item>
				<!-- </#noparse> -->
				<!-- <#noparse> -->
				<item href="${current_landcode.url}/nl/groothandels">
					<img class="float-center" src="http://td42.tripolis.com/public/image_aCnh52QE6_iGznqrqtospQ.png=" width ="24" height="24" alt="Groothandels" title="Groothandels">
				</item>
				<!-- </#noparse> -->
			</menu>			
			<menu class="show-for-large">
				<!-- <#noparse> -->
				<item href="${current_landcode.url}/nl/Assortiment/c/001" target="_blank">
					<span class="fallbackfont">Assortiment</span>
				</item>
				<!-- </#noparse> -->
				<!-- <#noparse> -->
				<item href="${current_landcode.url}/nl/acties" target="_blank">
					<span class="fallbackfont">Acties</span>
				</item>
				<!-- </#noparse> -->
				<!-- <#noparse> -->
				<item href="https://www.foodxperience.com/" target="_blank">
					<span class="fallbackfont">FoodXperience</span>
				</item>
				<!-- </#noparse> -->
				<!-- <#noparse> -->
				<item href="${current_landcode.url}/nl/activiteiten" target="_blank">
					<span class="fallbackfont">Activiteiten</span>
				</item>
				<!-- </#noparse> -->
				<!-- <#noparse> -->
				<item href="${current_landcode.url}/nl/groothandels" target="_blank">
					<span class="fallbackfont">Groothandels</span>
				</item>
				<!-- </#noparse> -->
			</menu>
		</center>
	</columns>
</row>