<wrapper class="header">
	<row class="collapse">
		<columns small="6" valign="middle">
			<!-- <#noparse> -->
			<a href="${current_landcode.url}" target="_blank" title="${current_landcode.logo_title}">
				<img src="http://td42.tripolis.com/public/image_l8IflF2UkP0eemjJ2_SFnw.png" alt="HANOS Internationale Horeca Groothandel" width="${current_landcode.logo_widht}" height="${current_landcode.logo_height}" class="logo">
			</a>
			<!-- </#noparse> -->
		</columns>
		<columns small="6" valign="middle">
			<p class="text-right datum fallbackfont">${datum!}</p>
		</columns>
		</row>
</wrapper>