<row class="border-bottom">
	<columns small="12" large="12">
		<spacer size="30"></spacer>
		<h3 class="fallbackfont text-center">Wat vindt u van deze e-mail?</strong></h3>
		<center>
			<menu>
				<!-- <#noparse> -->
				<!-- <#if (contact.gebied == "13" || contact.gebied == "14" || contact.gebied == "15")> -->
				<item href="https://feedback.closealert.com/campaigns/Ye5dmm-hanos.nl-hanos-voordeelmail-be/positive?tripolis_job_id=${contact.encryptedJobId?url}&email=${contact.email}&mail_url=https://td42.tripolis.com/public/onlineview.html%3Fcid=${contact.encryptedContactId?url}%26mid=${contact.encryptedJobId?url}"><img src="http://td42.tripolis.com/public/image_m5HRuzdu07VfH7mWbZ6FSg.png" alt="Positief" height="37" width="37" class="small-float-center"></item>
				<item href="hhttps://feedback.closealert.com/campaigns/Ye5dmm-hanos.nl-hanos-voordeelmail-be/negative?tripolis_job_id=${contact.encryptedJobId?url}&email=${contact.email}&mail_url=https://td42.tripolis.com/public/onlineview.html%3Fcid=${contact.encryptedContactId?url}%26mid=${contact.encryptedJobId?url}"><img src="http://td42.tripolis.com/public/image__iHwtGFCHv514oLDzFAbbA.png" alt="Negatief" height="37" width="37" class="small-float-center"></item>
				<!-- <#else> -->
				<item href="https://feedback.closealert.com/campaigns/dQ2Kgb-hanos.nl-hanos-voordeelmail/positive?tripolis_job_id=${contact.encryptedJobId?url}&email=${contact.email}&mail_url=https://td42.tripolis.com/public/onlineview.html%3Fcid=${contact.encryptedContactId?url}%26mid=${contact.encryptedJobId?url}"><img src="http://td42.tripolis.com/public/image_m5HRuzdu07VfH7mWbZ6FSg.png" alt="Positief" height="37" width="37" class="small-float-center"></item>
				<item href="https://feedback.closealert.com/campaigns/dQ2Kgb-hanos.nl-hanos-voordeelmail/negative?tripolis_job_id=${contact.encryptedJobId?url}&email=${contact.email}&mail_url=https://td42.tripolis.com/public/onlineview.html%3Fcid=${contact.encryptedContactId?url}%26mid=${contact.encryptedJobId?url}"><img src="http://td42.tripolis.com/public/image__iHwtGFCHv514oLDzFAbbA.png" alt="Negatief" height="37" width="37" class="small-float-center"></item>
				<!-- </#if> -->
				<!-- </#noparse> -->
			</menu>
		</center>
	</columns>
</row>