<row>
	<columns small="12">
		<center>
			<!-- </#noparse> -->
			<img src="${current_landcode.logo_footer}" width="${current_landcode.logo_footer_width}" height="${current_landcode.logo_footer_height}">
			<!-- </#noparse> -->
			<spacer size="30"></spacer>
			<p class="text-center fallbackfont">
				<small>
					<!-- <#noparse> -->
					<a href="${current_landcode.url}klantenservice" target="_blank" title="Contact" class="fallbackfont">Contact</a>
					<!-- </#noparse> -->
					<span class="padding-leftright">&nbsp;|&nbsp;</span>
					<!-- <#noparse> -->
					<a href="${current_landcode.url}privacy" target="_blank" title="Contact" class="fallbackfont">Privacy</a>
					<!-- </#noparse> -->
					<span class="padding-leftright">&nbsp;|&nbsp;</span>
					<!-- <#noparse> -->
					<a href="${current_landcode.url}disclaimer" target="_blank" title="Algemene Voorwaarden" class="fallbackfont">Disclaimer</a>
					<!-- </#noparse> -->
					<span class="padding-leftright">&nbsp;|&nbsp;</span>
					<!-- <#noparse> -->
					<a href="<#noparse>http://campaigns.hanos.nl/Nieuwsbrief-registratie/Nieuwsbrief-inschrijving.htm?xid=${contact.encryptedContactId!}</#noparse>&m=${typeMail!}&v=${sections['header'].articles[0].fields.optout_kenmerk!}" target="_blank" title="Gegevens wijzigen" class="fallbackfont">Afmelden</a>
					<!-- </#noparse> -->
				</small>
			</p>
		</center>
	</columns>
</row>
