<row class="footer-menu">
	<columns small="12">
		<spacer size="15"></spacer>
		<center>
			<menu>
				<item href="https://www.facebook.com/hanosgroothandel">
					<img src="http://td42.tripolis.com/public/image_JZuMhc6IsW12l68tDaOaqw.png" alt="Facebook" title="Facebook" height="40" width="40" class="small-float-center">
				</item>
				<item href="https://www.twitter.com/HANOSISPC">
					<img src="http://td42.tripolis.com/public/image_oasZp_wS6M80EU5hBsa31A.png" alt="Twitter" title="Twitter" height="40" width="40" class="small-float-center">
				</item>
				<item href="https://www.youtube.com/hanosnl">
					<img src="http://td42.tripolis.com/public/image_qUCVXEs5Ak3zVlB35guA1Q.png" alt="YouTube" title="YouTube" height="40" width="40" class="small-float-center">
				</item>
				<item href="https://www.instagram.com/hanos_nl">
					<img src="http://td42.tripolis.com/public/image_Rn2GV3CxtpjPcv9QOdexJw.png" alt="Instagram" title="Instagram" height="40" width="40" class="small-float-center">
				</item>
			</menu>
		</center>
	</columns>
</row>