<!--
2017 Voordeelmail NL+BE
-->
<!--
<#setting locale="nl_NL" />
<#if (sections['header'].articles?size>0)>
  <#assign snippet = "${sections['header'].articles[0].fields.snippet!}"/>
  <#assign typeMail = "${sections['header'].articles[0].fields.type_mail!}"/>
  
  <#if typeMail = "1">
    <#assign nameMail = "Voordeelmail"/>
  <#elseif typeMail = "2">
    <#assign nameMail = "Persoonlijke aanbiedingenmail"/>
  <#elseif typeMail = "3">
    <#assign nameMail = "Nieuwsbrief"/>
  <#elseif typeMail = "4">
    <#assign nameMail = "Vestigingsmail"/>
  <#elseif typeMail = "5">
    <#assign nameMail = "Activiteitenmail"/>
  <#elseif typeMail = "6">
    <#assign nameMail = "Zeitung"/>
  <#elseif typeMail = "7">
    <#assign nameMail = "Courant mail"/>
  <#elseif typeMail = "8">
    <#assign nameMail = "Outlet mail"/>
  <#elseif typeMail = "9">
    <#assign nameMail = "Campagnemail"/>
  <#elseif typeMail = "10">
    <#assign nameMail = "Servicemail"/>
  </#if>
</#if>
-->
<!--
<#noparse>
<#assign landcodes = {
  'NL':{
    'url': 'https://www.hanos.nl',
    'url_label': 'hanos.nl',
    'logo_footer': 'http://td42.tripolis.com/public/image__Qpt4pAYcvrIecdqtC9g5A.png',
    'logo_footer_width': '222',
    'logo_footer_height': '47',
    'logo_title': 'HANOS Internationale Horeca Groothandel',
    'closealert': 'dQ2Kgb-hanos.nl-hanos-voordeelmail'
  },
  'BE':{
    'url': 'https://www.hanos.be',
    'url_label': 'hanos.be',
    'logo_footer': 'http://td42.tripolis.com/public/image_WyWGiy3KyUYS2NDmNC3GkA.png',
    'logo_footer_width': '222',
    'logo_footer_height': '47',
    'logo_title': 'HGC-HANOS Internationale Horeca Groothandel',
    'closealert': 'Ye5dmm-hanos.nl-hanos-voordeelmail-be'
    }
  }
>
<#assign current_landcode = landcodes['NL']>
<#if contact.gebied == '13' || contact.gebied == '14' || contact.gebied == '15'>
  <#assign current_landcode = landcodes['BE']>
</#if>
</#noparse>
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>${emailtitel!}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <!-- <style> -->
      <!--[if mso]>
      <style type="text/css">
        .fallbackfont{
          font-family: Helvetica, Arial, sans-serif;
        }
      </style>
      <![endif]-->
    <!-- </style> -->
  </head>
  <body>
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened emails are created. --}}
            {{> body}}
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>