<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zurb-ink/1.0.5/ink.min.css">
  <link rel="stylesheet" type="text/css" href="/css/ink.css">
  <!-- inject:mq-css -->
  <!-- endinject -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
</head>
 
<body>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>
         {{> body}}
        </center>
      </td>
    </tr>
  </table>
</body>
</html>