{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{subject}}</title>
  <!-- <style> -->
</head>
<body>
  <span class="preheader">{{description}}</span>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

          <container>
            <spacer size="16"></spacer>

            {{> body}}

            <center> 
            <menu class="vertical">
              <item href="{{root}}basic.html" target="_blank">Basic</item>
              <item href="{{root}}drip.html" target="_blank">Drip</item>
              <item href="{{root}}hero.html" target="_blank">Hero</item>
              <item href="{{root}}marketing.html" target="_blank">Marketing</item>
              <item href="{{root}}newsletter.html" target="_blank">Newsletter</item>
              <item href="{{root}}newsletter-2.html" target="_blank">Newsletter 2</item>
              <item href="{{root}}order.html" target="_blank">Order</item>
              <item href="{{root}}password.html" target="_blank">Password</item>
              <item href="{{root}}sidebar.html" target="_blank">Sidebar</item>
              <item href="{{root}}sidebar-hero.html" target="_blank">Sidebar Hero</item>
              <item href="{{root}}welcome.html" target="_blank">Welcome</item>
            </menu>
            </center>
            
            <spacer size="16"></spacer>
          </container>

        </center>
      </td>
    </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>

